.post-content h1{
  font-size: 28px;
  font-weight: bold;
}

.post-content h2 {
  font-size: 23px;
  font-weight: bold;

}

.post-content h3 {
  font-size: 18px;
  font-weight: bold;

}

img{
    margin-bottom: 30px;
    align-items: center;
}

.highlighter-rouge .highlight {
    background: #212e37; // #212e47
    border-radius: 10px;
}

// Post Title
.post-title {
  font-size: 35px;
  font-weight: bold;
}

span.p-author, time.dt-published{
  font-size: 12pt;
}

pre, code{
  background: #212e37;
}

hr{
  margin: 13px 0;
  border: none; /* Removes the default 3D-like border */
  height: 0.5px; /* Sets the thickness of the line */
  background-color: rgb(38, 129, 174); /* Sets the color of the line */
}

body{
  background: linear-gradient(135deg, #151c2e 0%, #152d45 40%, #151e30 100%); // 135
}


#back-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #444;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#back-to-top:hover {
  background-color: #222;
  transform: translateY(-3px);
}

.post-status {
  // background: #fef3c7;
  color: #dbf01a;
  // border: 1px solid #fcd34d;
}


// status: draft: _layouts/home.html
.post-list-heading{
  border: 0px solid red; text-align: left; text-transform: uppercase; font-weight: 400; font-size: 20pt;
}

.post-list{
	border: 0px solid greenyellow;
	li{
		border: 0px solid red; display: flex; flex-direction: row; margin: 8px;

		span.post-meta{
			border:0px solid red; width: 60px;
      text-align: center; font-size: smaller;
		}
		h3{
			border: 0px solid red; width: 680px; padding-left: 10px;
		}
    .post-status{
      border: 0px solid red; padding-top: 5px; max-height: 30px;
    }
	}
}


h1.post-title,
h2.post-description{
  text-align: center;
}

p.post-meta{
  text-align: center;
}


a.site-title{
  font-weight: 500;
  text-transform: uppercase;
}


.highlighter-rouge{
  border-radius: 10px;
}

div.image-thumbnail{
  // border: 1px solid red;

  height: 300;
  display: flex;
  justify-content: center; /* Centers items horizontally along the main axis */
  align-items: center;    /* Centers items vertically along the cross axis */

  img.thumbnail{
    max-height: 400px;
    border-radius: 15px;
  }
}

@import
  "features/copy-code", // if multiple add comma(,)
  "features/mermaid"
;